@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

body {
    background-color: #2e2936;
    font-family: 'Comfortaa', cursive;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: #2d2933;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
    border: 3px solid #2d2933;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(90, 90, 90);
}

header {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 84px;
    background-color: #19171d;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 20px 0px #000;
}

.header {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

header h2 {
    transition: 0.4s;
}
header h3{
    font-size: 22px;
    margin-right: 20px;
}
header h2:hover {
    color: rgba(255, 255, 255, 0.6);
}

header img {
    transition: 0.4s;
    margin-top: 6px;
}

header img:hover {
    opacity: 0.6;
    transform: rotate(-360deg);
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    max-width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.search input {
    background-color: #19171d;
    font-family: inherit;
    font-size: 22px;
    color: rgba(218, 209, 230, 0.68);
    border-bottom: 2px solid #544c6180;
    outline: none;
    padding: 5px;
    transition: 0.4s;
}

.search input:focus {
    border-bottom: 2px solid #544c61c7;
}

.description {
    max-width: 800px;
    height: 200px;
    font-family: inherit;
    text-align: center;
    margin: 30px auto;
    text-shadow: 1px 1px 3px #000;
}

.hello {
    padding-top: 30px;
    font-size: 36px;
    margin-bottom: 15px;
}

.imgay {
    font-size: 22px;
}

.hide {
    display: none;
}

.content {
    max-width: 1450px;
    /* background-color: rgba(255, 255, 255, 0.15); */
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noresults {
    font-size: 60px;
    color: rgb(218, 209, 230);
    margin-top: 50px;
    margin-bottom: 50px;
}

.block {
    width: 450px;
    height: 430px;
    margin-top: 30px;
    background-color: #453f4d;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.skinname {
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 32px;
    color: rgb(218, 209, 230);
}

.preview {
    width: 450px;
    height: 250px;
    border-top: 2px solid #5f5969;
    border-bottom: 2px solid #5f5969;
}

.download {
    display: flex;
    align-items: center;
    height: 86px;
    justify-content: center;
}

.butt {
    background-color: #453f4d;
    border: 2px solid rgb(218, 209, 230);
    color: rgb(218, 209, 230);
    font-family: inherit;
    border-radius: 10px;
    font-size: 22px;
    padding: 16px 120px;
    transition: 0.3s;
}

.butt:hover {
    background-color: rgb(218, 209, 230);
    color: #453f4d;
    cursor: pointer;
}

.made {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin: 24px auto;
    font-size: 20px;
}

.made a {
    color: rgba(255, 255, 255, 0.9);
    transition: 0.2s;
}

.made a:hover {
    color: rgb(218, 209, 230);
}

.folder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.6s;
}

.folder.open {
    opacity: 1;
    visibility: visible;
}

.folder.open .folder-container {
    transform: scale(1, 1);
    opacity: 1;
}

.folder-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto 10px;
}

.folder-container {
    background-color: #2d2933;
    width: 1200px;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
    transform: scale(0, 0);
    opacity: 0;
    transition: 0.4s;
}

.folder-title {
    text-align: center;
    font-size: 36px;
}

.folder-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.folder-block {
    margin-top: 30px;
    width: 360px;
    height: 344px;
    background-color: #453f4d;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.folder-skinname {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 28px;
    color: rgb(218, 209, 230);
}

.folder-preview {
    width: 360px;
    height: 200px;
    border-top: 2px solid #5f5969;
    border-bottom: 2px solid #5f5969;
}

.folder-download {
    display: flex;
    align-items: center;
    height: 68px;
    justify-content: center;
}

.folder-butt {
    background-color: #453f4d;
    border: 2px solid rgb(218, 209, 230);
    color: rgb(218, 209, 230);
    font-family: inherit;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 80px;
    transition: 0.3s;
}

.folder-butt:hover {
    background-color: rgb(218, 209, 230);
    color: #453f4d;
    cursor: pointer;
}